
body {
    background-color: #333;
    
}

#our {
    text-align: center;
    font-size: 40px;
}

#yourcart {
    text-align: center;
    font-size: 40px;
}

#info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#info img {
    width: 100%;
}

#info img:hover {
    border-top-left-radius: 50px;
}

.img {
    box-sizing: border-box;
    box-shadow: 12px 10px 12px rgba(0, 0, 0, 0.5);
}

.img-desc{
    padding-left:10px;
}

.img:hover {
    box-shadow: none;
    background-color: grey;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

button {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    box-shadow: 12px 10px 12px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: green;
}


  #myCARTBtn {
    display: none; /* Hidden by default */
    position:fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: green; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
 